USE [master]
GO
/****** Object:  Database [E1]    Script Date: 12/11/2023 21:44:01 ******/
CREATE DATABASE [E1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'E1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\E1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'E1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\E1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [E1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [E1]
GO
/****** Object:  Table [dbo].[Table_1]    Script Date: 12/11/2023 21:44:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_1](
	[Campo_1] [nvarchar](50) NULL,
	[Campo_2] [nvarchar](50) NULL,
	[Campo_3] [nvarchar](50) NULL,
	[Campo_4] [nvarchar](50) NULL,
	[Campo_5] [nvarchar](50) NULL,
	[Campo_6] [nvarchar](50) NULL,
	[Campo_7] [nvarchar](50) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Table_1] ([Campo_1], [Campo_2], [Campo_3], [Campo_4], [Campo_5], [Campo_6], [Campo_7]) VALUES (N'', N'', N'ds', N'sda', N'ads', N'asd', N'')
GO
USE [master]
GO
